header.header {
  @apply fixed z-header top-0 left-0 right-0 bg-white; // Removed opacity to remove blur
  height: var(--header-height);
}

nav ul {
  @apply flex gap-x-2;
}

nav a[aria-current="page"] {
  @apply underline;
}

.header-logo {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  width: 300px;  // Increased logo size
  height: auto;
}

.header-logo img {
  width: 100%;
  height: auto;
}

.header-main {
  @apply flex justify-between items-center;
}

.header-cart-count {
  @apply absolute opacity-0;
  top: 15px;
  right: -10px;

  .has-items & {
    @apply opacity-100;
  }
}

.header-nav__list {
  @apply relative z-1 flex items-center gap-x-4;
  height: var(--header-height);
}

.header-nav__item {
  @apply relative h-full flex items-center;
}

// Dropdown styles for "Index"
.header-nav__dropdown {
  @apply absolute left-0 mt-2 hidden bg-white shadow-lg;
}

// JavaScript for dropdown toggle

