{%- liquid
  assign current_year = 'now' | date: '%Y' 
%}

<footer class="footer">
  <div class="container text-center py-4">
    <p>Hendrix Park &copy; {{ current_year }}</p>
    <p>Marinship Sausalito, USA</p>
    <p id="current-datetime"></p>
  </div>
</footer>