{%- liquid
  assign current_year = 'now' | date: '%Y' 
%}

<footer class="footer w-full py-4 text-sm font-normal">
  <div class="container mx-auto flex justify-between items-start px-4">
  

    <!-- Right Column -->
    <div class="text-left pr-4">
      <a href="https://instagram.com/hendrixparkusa" target="_blank" class="block hover:underline">Instagram</a>
      <a href="mailto:hendrixpark@gmail.com" class="block hover:underline">hendrixpark@gmail.com</a>
      <p>Hendrix Park &copy; {{ current_year }}</p>
      <p>Marinship Sausalito, USA</p>
    </div>
    
  </div>
</footer>